.about {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1200px) {
    .about {
        padding: 5rem 210px;
        position: relative;
        height: 600px;
        justify-content: center;
    }

    .image-box {
        width: 200px;
        height: 250px;
        /* border: 2px solid red; */
        overflow: hidden;
        border-radius: 16px;
        position: absolute;
    }

    .about img {
        object-fit: cover;
        height: 100%;
    }

    .image-box-1 {
        top: 150px;
        right: 280px;
        
    }

    .image-box-2 {
        top: 200px;
        right:400px;
        z-index: -1;
    }

    .about h2, .about p {
        width: 50%;
    }
}
