form {
    margin: 0 auto;
    display: grid;
    gap: 20px;
    min-width: 250px;
    max-width: 500px;
    padding: 2rem 1rem;
}

/* 
form label {
    display: block;
    font-family: var(--markazi);
    font-size: 20px;
} */

form input, form select {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    font-family: var(--karla);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: 40px;
  width: 30px;

}


