header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


@media (min-width: 789px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: 5rem;
        height: 5rem;
    }
}

@media (min-width: 1200px) {
    header {
        margin-inline: 14rem;
    }
}