@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@500;700&display=swap');

:root {
    --markazi: "Markazi Text", serif;
    --karla: "Karla", sans-serif;
    --primary-color-1: #495E57;
    --primary-color-2: #F4CE14;
}

div#root {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    grid-column: 1 / -1;
    padding-inline: 210px;
}

nav li a {
    color: black;
    font-family: var(--karla);
    display: block;
}

nav li a:hover {
    text-decoration: underline;
    font-weight: 500;
}

.main-wrapper {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.main-navigation-links {
    display: flex;
    gap: 2rem;
}

.hero-section {
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-block: 3rem;
    position: relative;
}

.hero-description {
    grid-column: 3 / 5;
}

h2.heading {
    font-family: var(--markazi);
    font-size: 48px;
    color: var(--primary-color-2);
    line-height: .65;
}

span.sub-heading {
    font-size: 30px;
    color: white;
}

.hero-paragraph {
    font-family: var(--karla);
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-block: 1rem;
    max-width: 25ch;
}

.hero-img {
    position: absolute;
    top: 1rem;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
    grid-column: 9 / 11;
}

.table-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
}

.menu-btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
}

.hightlights-section {
    margin-top: 100px;
    margin-bottom: 50px;
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 48px;
}

.hightlights-header {
    grid-column: 3 / 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hightlights-wrapper {
    grid-row: 2;
    grid-column: 3 / 11;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.hightlights-wrapper > * {
    flex: 1;
    /* border: 1px solid red; */
}

.hightlight-card {
    display: flex;
    flex-direction: column;
    background-color: #edefee;
    border-radius: 16px;
}

.hightlight-card > * {
    flex: 1;
}
.hightlight-image {
    max-height: 200px;
    overflow: hidden;
    border-radius: 16px;
}

.hightlight-image img {
    width: 100%;
}

.hightlight-description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hightlight-menu-name {
    font-family: var(--markazi),serif;
    font-size: 24px;
    font-weight: 500;
}

.hightlight-price {
    font-family: var(--karla),sans-serif;
    font-size: .95rem;
    font-weight: bold;
    color: #EE9972;
}

a[role="order-link"] {
    font-family: var(--karla);
    color: black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

a[role="order-link"]:hover {
  text-decoration: underline;
}

.hightlight-description-menu {
    font-family: var(--karla);
    font-size: 14px;
    font-weight: 400;
}

.hightlight-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2.big-heading {
    font-family: var(--markazi);
    font-size: 48px;
    font-weight: 500;
}

.testimonials-section {
    background-color: var(--primary-color-1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1rem;
    padding-block: 48px;
    margin-bottom: 50px;
}

.testimonials-section h2 {
    color: white;
}

.testimonials-header {
    text-align: center;
    grid-column: 1 / -1;
}

.testimonials-wrapper {
    grid-column: 3 / 11;
    display: flex;
    gap: 1rem;
}

.testimonial {
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
    font-family: var(--karla);

}

.testimonial-profile {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;

}

.profile-name {
    font-weight: 400;
}

.profile-rating {
    font-weight: bolder;
    color: #EE9972;
    font-size: 12px;
}


.about-section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.about-description {
    width: 80%;
    grid-column: 3 / 7;
    place-content: center;
    margin-top: 50px;
}

.about-images {
    position: absolute;
    top: 0;
    right: 0;
    grid-column: 7 / 11;
    width: 300px;
}

.about-images > * {
    width: 200px;
    height: 250px;
}

.about-images img {
    min-height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.about-img-1 {
    position: absolute;
    top: 0;
    right: 0;
}

.about-img-2 {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: -1;
}

span.black {
    color: black;
}

.about-description p.description {
    font-family: var(--karla);
    line-height: 1.5;
    font-size: 14px;
    margin-top: 1rem;
}

.footer-wrapper {
    grid-row: 3;
    grid-column: 1 / -1;
    margin-top: 150px;
    background-color: #FBDABB;
    padding-block: 2rem;
}


footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: var(--karla);
}

footer img {
    grid-column: 3;
}

.doormat-navigation {
    grid-column: 5;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}

.contact-section {
    grid-column: 7;
}

.social-links-section {
    grid-column: 9;
}

.link-light {
    font-size: 12px;
    font-weight: 400;
}

.hidden {
    display: hidden;
}

.header-wrapper .menu {
    display: none;
}


@media (max-width: 480px) {
    div#root {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .header-wrapper .menu {
        display: block;
    }

    .header-wrapper .main-navigation-links {
        display: none;
    }

    .header-wrapper {
        grid-column: 1 / -1;
        flex-direction: row;
        padding: 0 1rem;
        height: 50px;
    }

    .main-wrapper {
        grid-row: 2;
        grid-column: 1 / -1;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        padding-block: 0;
    }

    .hero-description {
        padding: 1.85rem 1rem;
    }

    .hero-img {
        order: -1;
        position: static;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }

    .hightlights-section {
        padding-inline: 2rem;
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
    }
    .hightlights-header {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hightlights-wrapper {
        grid-row: 2;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
    }
    .hightlight-card {
        display: block;
    }

    .hightlight-description {
        padding: 2rem;
    }

    h2.big-heading {
        font-size: 24px;
    }

    .menu-btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .testimonials-section {
        grid-template-columns: repeat(4, 1fr);
        padding: 24px;
    }

    .testimonials-wrapper {
        grid-column: 1 / -1;
        flex-direction: column;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 1.5rem;
    }

    .about-description {
        width: 100%;
        margin: 0;
    }

    .about-images {
        position: static;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .about-images > * {
        border-radius: 0;
        width: 400px;
        height: 100%;
    }

    .about-images img {
        border-radius: none;
    }

    .about-img-1, .about-img-2 {
        position: static;
    }
    .footer-wrapper {
        margin-top: 50px;
        padding-block: 1rem;
    }

    footer {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }
    footer img {
        align-self: center;
        width: 100px;
    }
}